<div ng-controller="chatController" id="container">
	<h1>The <span style ='font-family:"Rock Salt"'>Soul Food</span> Chat Room</h1>
		<div id = 'infobox'>
		<h4>Connect with others and coordinate meetups</h4>
		<p>Current User: <span ng-bind="user.name"></span></p>
		</div>
	<div id="chatbox">
	</div>
	<form ng-submit="createMessage(newMessage)">
		<input type="text" name="message" ng-model="newMessage.message" placeholder="Enter your message here" id="chatinput">
		<input type="submit" value="Submit">
	</form>
</div>

