<div id = 'wrapper' ng-controller='dashboardController'>
  <header>
    <h2>Welcome, <span ng-bind='user.name'></span>
    <button id = 'btn1' class = 'btn' ng-click = 'nevigateToEvent()'>events</button>
    <button id = 'btn2' class = 'btn' ng-click='logout()'>logout</button>
  </header>
<div id = 'bodywrapper'>
  <div id = 'userinfo'>
  <img src='{{user.pictureURL}}'/>
  <h5>your email: <span ng-bind='user.email'></span></h5>
  </div>
  <!-- <h3>Your name is : <span ng-bind='user.name'></span></h3> -->
<div id = 'constraint'>
 <div id = 'friendbox'>
  <h2>Available Friends</h2>
  <ul ng-repeat="person in persons">
    <li ng-model="person">{{person.name}} <button ng-click="addFriend(person, user)">Add Friend</button></li>
  </ul>
</div>
  <div id = 'eventsbox' class="Events">
    <label><input type="text" ng-model="filter_event" placeholder="search event..."></label>
    <h2>Upcoming Events</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
        <th>Type of food</th>
        <th>Created by</th>
        <th>Remove Event</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events | filter:filter_event | orderBy: 'created_at' : reverse" >
        <td ng-bind="event.date"></td>
        <td ng-bind="event.time"></td>
        <td> <a href="#/event/{{event._id}}"><span ng-bind='event.title'></span></a> </td>
        <td ng-bind="event.location"></td>
        <td ng-bind="event.description"></td>
        <td ng-bind="event.type_of_food"></td>
        <td> <a ng-href="#/user/{{event.user._id}}"><span ng-bind='event.user.name'> </td>
        <td><button ng-show="event.user._id == user._id" ng-click="destroyEvent(event._id)">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div id = 'friendlist'>
  <h2>Friends List</h2>
  <div >
    <ul ng-repeat="friend in user.friends">
      <li ng-model="friend">{{friend.name}} <button ng-click="removeFriend(friend, user)">Remove Friend</button></a></li>
    </ul>
  </div>
</div>
</div>
<div id = 'neweventbox'>
  <h2>Add a new Event</h2>
  <form ng-submit="addEvent()">
      <label>Event Title:</label> <input type= "text" name="title" value="title" ng-model="newEvent.title">
      <label>Event Date:</label> <input  type="date" name="date" ng-model="newEvent.date" >
      <label>Event Time:</label> <input  type="time" name="time" ng-model="newEvent.time"  >
      <label>Event Location:</label>
        <select ng-model="newEvent.location" name="location">
          <option value="Burbank">Burbank</option>
          <option value="LA">LA</option>
          <option value="Tustin">Tustin</option>
          <option value="DTLA">DTLA</option>
          <option value="Glendale">Glendale</option>
          <option value="Irvine">Irvine</option>
          <option value="Torrance">Torrance</option>
          <option value="Pasadena">Pasadena</option>
          <option value="Rosemead">Rosemead</option>
          <option value="Hacienda">Hacienda</option>
          <option value="Walnut">Walnut</option>
          <option value="Cerritos">Cerritos</option>
          <option value="Arcadia">Arcadia</option>
          <option value="Weho">Weho</option>
          <option value="MISC">MISC</option>
        </select>
      <label>Event Description:</label> <textarea ng-model="newEvent.description"></textarea>
      <label>Type of food:</label>
        <select ng-model="newEvent.type_of_food" name="type_of_food">
          <option value="Select">SELECT...</option>
          <option value="Korean">Korean</option>
          <option value="Chinese">Chinese</option>
          <option value="Thai">Thai</option>
          <option value="Taiwanese">Taiwanese</option>
          <option value="American">American</option>
          <option value="BBQ">BBQ</option>
          <option value="Italian">Italian</option>
          <option value="Fusion">Fusion</option>
          <option value="Mexican">Mexican</option>
          <option value="fastFood">Fast Food</option>
          <option value="Japanese">Japanese</option>
          <option value="Sushi">Sushi</option>
          <option value="Burgers">Burgers</option>
          <option value="Indian">Indian</option>
          <option value="MISC">MISC</option>
        </select>
      <input type="submit" value="Submit">
  </form>
</div>
</div>
</div>
