<div class="container" ng-controller="eventsController">
  <div class="card container blue-grey darken-1" ng-repeat="event in events | filter:filter_event | orderBy: 'created_at'">
        <div class="card-content white-text">
          <div class = 'card-title'><p><span ng-bind='event.title'></span></a> </p></div>
          <p ng-bind="event.description"></p>
          <p><a ng-href="#/restaurant/{{event.restaurant._id}}"><span ng-bind='event.restaurant.name'></a></p>
          <p ng-bind="event.location"></p>
          Organizer: <a ng-href="#/user/{{event.user._id}}"><span ng-bind='event.user.name'></a>
        </div>
        <div class="card-action">
          <a ng-bind="event.date"></a>
          <a ng-bind="event.time"></a>
          <a ng-bind="event.type_of_food"></a>
        </div>
          <!-- start comments-->
        <div class="container">
          <h4><i class="fa fa-comment"></i></h4>
          <form ng-submit='addComment(newComment, event._id)'>
            <label><textarea id="icon_prefix2" class="materialize-textarea" ng-model="newComment.content" rows="8" cols="40"></textarea></label>
            <label><button class='btn'><i class="fa fa-paper-plane"></i></button></label>
          </form>
        </div>
        <div id = 'commentbox'>
				<div class="container" ng-repeat="comment in comments">
			     <strong><a ng-href="#/user/{{comment.user._id}}" ><span ng-bind="comment.user.name"></span></a> said at <span ng-bind="comment.created_at | date"></span>:</strong>
           <p><span ng-bind="comment.content"></span></p>
        </div>
      </div>
  </div>
</div>
