<form>
  <fieldset>
  <legend>Join Sole Food today.</legend>
  <input type="text" name="email" value="" placeholder='email'> <br>
  <input type="password" name="password" value="" placeholder='password'> <br>
  <input type="password" name="confirm_password" value="" placeholder='confirm password'> <br>
  <input type="submit" value="Sign up">
  </fieldset>
</form>

<form>
  <fieldset>
  <legend>Have an account? Log in.</legend>
  <input type="text" name="email" value="" placeholder='email'> <br>
  <input type="password" name="password" value="" placeholder='password'> <br>
  <input type="submit" value="Login">
  </fieldset>
</form>
<a href="#">Sign in with Google</a>
<a href="#">Sign in with Facebook</a>
