
<div id = 'wrapper'>
        <div id = 'slide1'>
            <h1 id = 'soulfood'><span style='color:white'></span> <span style ='font-family:"Rock Salt"'>Soul Food</span></h1>
        </div>
<!--         <div class="container"> -->
<!--           <div id = 'slide2'> -->
              <!-- <div class="container"> -->
              <!--   <h1>Social Dining Made Easy</h1>
                 <div id = 'friends' class = 'three_boxes'>
                   <h4>meet new friends</h4>
                 </div>
                 <div id = 'eating' class = 'three_boxes'>
                   <h4>enjoy a meal together</h4>
                 </div>
                 <div id = 'networking' class = 'three_boxes'>
                   <h4>build your network</h4>
                 </div> -->
              <!-- </div> -->

<!--           </div> -->
<!--         </div> -->
</div>
