<html>
<head>
    <title>Soul Food</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">


</head>
<body>
    <header id = 'header'>
        <div class = 'content'>
            <nav id = 'nav'>
                <ul>
                    <li><a ng-click="scrollTo('slide1')" class = 'active' title = 'Next Section'>Soul Food</a></li>
                    <li><a ng-click="scrollTo('slide2')" title = 'Next Section'>About</a></li>
                    <li><a ng-click="scrollTo('slide3')" title = 'Next Section'>Services</a></li>
                </ul>
            </nav>
        </div>
    </header>
        <div id = 'slide1'>
            <h1><span style='color:#9AC0CD'>Introducing</span> Soul Food</h1>
        </div>

        <div id = 'slide2'>
            <h1>The app for social eating</h1>
        </div>

        <div id = 'slide3'>
            <h1>List of Services</h1>
        </div>

</body>
</html>