<div class="container" id="user" ng-controller="profileController">
		<div ng-repeat="user in userdata">
			<h3>Username: <span ng-bind='user.username'></span></h3>
			<h4>Posted...</h4>
			<ul>
				<li><span ng-bind='user.events'></span> Events</li>
				<li><span ng-bind='user.comments'></span> Comments</li>
			</ul>
		</div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Title</th>
          <th>Location</th>
          <th>description</th>
          <th>Type of food</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in events | filter:filter_event | orderBy: 'created_at'" >
          <td ng-bind="event.date"></td>
          <td ng-bind="event.time"></td>
          <td> <a href="#/event/{{event._id}}"><span ng-bind='event.title'></span></a> </td>
          <td ng-bind="event.location"></td>
          <td ng-bind="event.description"></td>
          <td ng-bind="event.type_of_food"></td>
          <td> <a ng-href="#/user/{{event.user.name}}"><span ng-bind='event.user.name'> </td>
          <td ng-bind="event.comments"></td>
        </tr>
      </tbody>
    </table>
</div>
