<div ng-controller='restaurantsController' class="container">
  <table class="highlight">
    <thead>
      <tr>
        <td>
          #
        </td>
        <td>

        </td>
        <td>
          Name
        </td>
        <td>
          Rating
        </td>
        <td>
          Action
        </td>
      </tr>
    </thead>
    <tr ng-repeat='restaurant in restaurants'>
      <td>
        {{$index + 1}}
      </td>
      <td>
        <img class="img-responsive" src="{{restaurant.image_url}}" alt="" />
      </td>
      <td>
        <a ng-href="#/restaurant/{{restaurant._id}}"><span ng-bind='restaurant.name'></span></a>
      </td>
      <td>
        <img class="img-responsive" src="{{restaurant.rating_img_url}}" alt="" />
      </td>
      <td ng-model="restaurant"><button ng-click="removeRestaurant(restaurant)" class="btn"><i class="fa fa-trash"></i></button></a></td>
    </tr>
  </table>
</div>
