<div ng-controller='restaurantsController'>
  <table>
    <thead>
      <tr>
        <td>
          #
        </td>
        <td>

        </td>
        <td>
          Name
        </td>
        <td>
          Rating
        </td>
        <td>
          Action
        </td>
      </tr>
    </thead>
    <tr ng-repeat='restaurant in restaurants'>
      <td>
        [{{$index + 1}}]
      </td>
      <td>
        <img src="{{restaurant.image_url}}" alt="" />
      </td>
      <td>
        <a ng-href="#/restaurant/{{restaurant._id}}"><span ng-bind='restaurant.name'></span></a>
      </td>
      <td>
        <img src="{{restaurant.rating_img_url}}" alt="" />
      </td>
      <td ng-model="restaurant"><button ng-click="removeRestaurant(restaurant)">Remove Restaurant</button></a></td>
    </tr>
  </table>
</div>
