<h1>this is the dashboard</h1>
<div ng-controller='dashboardController'>
  <h1>Hello email:<span ng-bind='user.email'></span></h1>
  <h3>Your name is : <span ng-bind='user.name'></span></h3>
  <img src='{{user.pictureURL}}'/>
  <h2>Available Friends</h2>
  <ul ng-repeat="person in persons">
  	<li ng-model="person">{{person.name}} <button ng-click="addFriend(person, user)">Add Friend</button></li>
  </ul>
  <h2>Friends List</h2>
  <div >
	  <ul ng-repeat="friend in user.friends">
	  	<li>{{friend.name}}</li>
	  </ul>
  </div>
  <button ng-click='logout()'>logout</button>
</div>
