#wrapper{
	background: url('/images/newevent.jpg') 50% no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 700px;
}

#formwrapper{
	/*border: 1px solid black;*/
	position: absolute;
    height: 630px;
    width: 700px;
	margin: -50px 0 0 -200px;
    top: 15%;
    left: 50%; 
}

form {
	width: 400px;
	left: 30%;
	position: relative;
	padding: 15px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: rgba(201, 175, 148, .8);
	color: white;
}

label{
	display: inline-block;
	width: 250px;
	color: white;
}
input:not([type=submit]){
	color: white;
	box-shadow: none;
	height: 20px;
	background: transparent;
	box-sizing: border-box;
	outline: none;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 7px;

}

#submit{
	display: block;
	margin-left: 130px;
	background: rgba(255, 204, 153, .8);
	border-radius: 10px;
	border: none;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 100%;
}

#goback{
	display: block;
	margin-left: 140px;
	margin-top: 15px;
	/*border: 1px solid silver;*/
	width: 100px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	background: rgba(255, 204, 153, .8);
/*	border-radius: 10px;
	border: none;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 100%;
	text-align: center;*/
}

h1 {
	text-align: center;
	top: 10px;
	/*border: 1px solid black;*/
	border-radius: 10px;
	color: white;
	width: 320px;
	left: 34%;
	position: relative;
	background: rgba(201, 175, 148, .8);
}