#container {
	color: white;
}

#chatbox {
	color: white;
	width: 700px;
	height: 400px;
	border: 1px solid white;
	overflow: scroll;
	padding-left: 25px;
}

#chatinput {
	margin-top: 5px;
	width: 650px;
	height: 30px;
}