#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Arial;
	color: white;
/*	border: 1px solid red;*/
}

header {
	border: 1px solid black;
	width: 100%;
	background-color: rgba(192, 192, 192, .5);
	height: 80px;
	position: relative;
	text-align: right;
	margin-top: 5px;
}
	.btn {
		border-radius: 5px;
		box-shadow: none;
		border: none;
		padding: 7px;
		background: rgba(154, 192, 205, .6);
		color: white;
		margin-right: 15px;
		margin-left: -5px;
	}
	.btn:hover {
		background: rgba(116, 205, 220, .6);
	}
	#btn1{
		margin-left: 10px;
	}
	#btn2{
		margin-left: -15px;
	}
	header h2 {
		margin-left: -20px;
	}
	#userinfo{
		/*border: 1px solid black;*/
		width: 400px;
		margin-top: -35px;
		position: relative;
		display: inline-block;
	}
#bodywrapper{
	/*border: 1px solid black;*/
	width: 100%;
	/*position: relative;*/
	margin-top: 50px;
}

#friendbox{
	border: 1px solid black;
	width: 300px;
	height: 200px;
	overflow: scroll;
	padding-left: 5px;
	border-radius: 5px;
	background: rgba(154, 192, 205, .6);
	display: inline-block;
}

#eventsbox {
	display: inline-block;
	border: 1px solid black;
	width: 700px;
	height: 430px;
	vertical-align: top;
	margin-left: 50px;
	position: relative;
	border-radius: 5px;
	background: rgba(154, 192, 205, .6);
}
#friendlist{
	border: 1px solid black;
	border-radius: 5px;
	width: 300px;
	display: inline-block;
	margin-top: -203px;
	height: 200px;
	background: rgba(154, 192, 205, .6);
	padding-left: 5px;
	/*position: fixed;*/
}

#neweventbox{
	border: 1px solid black;
	border-radius: 5px;
	vertical-align: top;
	width: 250px;
	padding-right: 5px;
	margin-top: -431px;
	margin-left: 1100px;
	padding-left: 10px;
	background: rgba(154, 192, 205, .6);
	display: inline-block;
}
#constraint {
/*	border: 1px solid black;*/ /*this div is to temporarily constrain the child divs from reformatting on screen size change.*/
	width: 1200px;
}

label{
	display: inline-block;
	width: 250px;
	color: white;
}
table {
	text-align: center;
}
td {
	border-bottom: 1px solid black;
}
