/*#masterwrap{
	position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}*/

#formwrapper{
	text-align: center;
	/*border: 1px solid black;*/
	position: fixed;
    height: 630px;
    width: 650px;
	margin: -50px 0 0 -400px;
    top: 15%;
    left: 50%;  
}

#wrapper{
	width: 100%;
	background: url('/images/soul_foodbg.jpg') 50% 0 no-repeat fixed;
	height: 400px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	position: relative;
}

h1{
	/*border: 1px solid black;*/
	width: 50%;
	left: 40%;
	position: relative;
	color: white;
	font-family: 'Rock Salt', cursive;
}

.boxes{
	border: 1px solid rgb(116, 205, 220);
	border: ;
	width: 400px;
	left: 30%;
	position: relative;
	padding: 15px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: rgba(154, 192, 205, .7);
}

label{
	display: inline-block;
	width: 250px;
	color: white;
}
input:not([type=submit]){
	box-shadow: none;
	height: 20px;
	background: transparent;
	box-sizing: border-box;
	outline: none;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 7px;

}

p{
	color: white;
}


#google{
	/*border: 1px solid black;*/
	margin-left: 27%;
	background-color: #dd4b39;
}

#facebook{
background-color: #3b5998;
}

.oauth{
	/*border: 1px solid silver;*/
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	margin-top: 10px;
	background: rgba(192, 192, 192, .8);
}

.submission {
	margin-top: 10px;
	text-align: center;
	margin-left: 130px;
	background: rgba(192, 192, 192, .8);
	border-radius: 10px;
	border: none;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 100%;
}
