#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Arial;
}

/*#soulfood{
	border: 1px solid black;
	width: 200px;
}*/

#header{
	width: 100%;
	background-color: rgba(192, 192, 192, .5);
	height: 80px;
	position: fixed;
	margin-top: 30px;
}

#nav {
	width: 410px;
	float: right;
	margin-top: 20px;
}
	#nav ul{
		list-style: none;
		display: block;
		margin: 0 auto;
	}
	#nav li{
		margin-top: 9px;
		float: left;
		padding-left: 21px;
	}
	#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none;}
	#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
	#nav li a:hover { color: #fff; opacity:1;  }

#slide1{
	width: 100%;
	background: url('/images/soul_foodbg.jpg') 50% 0 no-repeat fixed;
	height: auto;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: contain;
	background-repeat: no-repeat;
}
	#slide1 h1{
		text-align: center;
		color: black;
		background-color: rgba(192, 192, 192, .7);
/*		border: 1px solid black;*/
	}

#slide2{
	width: 100%;
	height: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
	text-align: center;
	background-color: white;
	color: black;
	background-size: cover;
	/*background: no-repeat fixed;*/
}
	.three_boxes{
		width: 300px;
		height: 340px;
		/*border: 1px solid black;*/
		display: inline-block;
		position: relative;
	}
	.three_boxes h4{
		position: absolute;
		bottom: 0;
		margin-left: 70px;
		margin-top: 5px;
	}
	#friends{

		background: url('/images/addfriend.jpg') no-repeat;
	}
	#eating{
		background: url('/images/eatingicon.jpeg') no-repeat;
		margin-left: 15px;
		margin-right: 25px;
	}
	#networking{
		background: url('/images/networking.jpeg') no-repeat;
	}

#slide3{
	width: 100%;
	background: url('/images/main_texture.png') 50% 0 no-repeat fixed;
	height: 600px;
	margin: 0 auto;
	padding: 200px 0 260px 0;
	background-size: cover;
	text-align: center;
	color: white;
}

.services {
	display: inline-block;
	border: 1px solid black;
	width: 200px;
	height: 200px;
	color: white;
}
	#american {
		background: url('/images/american.jpg') no-repeat;
		background-size: 135%;
	}
	#chinese{
		background: url('/images/orangechicken.jpg') no-repeat;
	}
	#med{
		background: url('/images/greek-salad.jpg') no-repeat;
	}
	#mexican{
		background: url('/images/mex1.jpg') no-repeat;
	}
	#italian{
		background: url('/images/italian.jpg') no-repeat;
	}
	#indian{
		background: url('/images/indian-food.jpg') no-repeat;
	}
