#user{
	width: 100%;
	/*border: 1px solid black;*/
}
	h4{
		color: white;
	}
	header{
	border: 1px solid black;
	width: 100%;
	background-color: rgba(192, 192, 192, .5);
	height: 50px;
	position: relative;
	/*text-align: right;
	margin-top: 5px;*/
	color: white;
	}

	table{
	/*display: inline-block;*/
	border: 1px solid black;
	/*width: 700px;
	height: 430px;*/
	vertical-align: top;
	/*margin-left: 50px;*/
	position: relative;
	border-radius: 5px;
	background: rgba(154, 192, 205, .6);
	border-collapse: collapse;
	}
		table td{
			padding: 5px;
		}
		table th{
			text-align: left;
			padding-left: 3px;
		}